body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background: #000;
  color: aliceblue;
  padding: 1rem;
}

header a {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}
.heding {
  padding: 1rem;
}
.prodects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.product {
  border: #000 1px solid;
  margin: 1rem;
}
.product img {
  height: 300px;
  width: 200px;
}

.pro-info {
  padding: 1rem;
}
